body {
    background-color: #641212;
    color:white;
    font-family: verdana;
}
  
h1 {
    color: white;
    text-align: center;
    font-family: verdana;
}
  
p {
    font-family: verdana;
    color:white;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: rgb(70, 6, 6);
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    font-family: verdana;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #menu {
    position: absolute;
    color: white;
    top: .4rem;
    left: 50%;
    font-size: 1.5rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #menu {
    left: 90%;
}

.sidebar .top .logo {
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul {
    margin: auto;
}

.sidebar ul li {
    text-align: center;
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 100%;
    margin: 0.8rem auto;
    line-height: 50px;
    justify-content:center;

}

.sidebar ul li a {
    min-width:50px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    transform: translateX(-25px);
}

.sidebar ul li a:hover {
    background-color: white;
    color: black;
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 20px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    background-color:white;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
    color: black;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar ul li .tooltip:hover {
    opacity: 0;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.button:hover {
    background-color: #0056b3;
}
  
#views {
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.view {
    display: none;
    /* Hide all views by default */
}

.homeContainer {
    padding: 20px;
    min-height: 300px;
    justify-content:left;
    display:flex;
    width: 100%;
}

.homeContainer .left, .homeContainer .right {
    padding: 20px;
    flex: 1;
}

.homeContainer .left {
    background-color:#ffffff05;
}

.homeContainer .right {
    background-color:#ffffff10;
}

.table-container {
    max-width: 600px;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #f4f4f490;
    text-align: left;
}

th {
    background-color: #f4f4f499;
    color:#641212;
}